{% extends "base.html" %}

{% block title %} {{ post.title }}{% endblock %}

<h1>{% block header %}{% endblock %}</h1>

{% block body %}

<!-- Define the function that will handle the recursion -->

<div class="col-md-auto col-lg-auto col-sm-auto w-100">
    <h1>{{ post.title }}</h1>

    <h5>{{ post.description }} </h5>
    
    
    <small class="card-foot"> Posted by {{ post.author.username }} </small>

    <div class="arrow-button post">
        <i class="fa fa-arrow-up post" data-postid = {{ post.id }}></i>
            {% if post.number_of_votes >= 0 %}
                <i class=""> {{ post.number_of_votes }} Upvotes </i>
            {% elif post.number_of_votes < 0 %}
                <i class=""> {{ post.number_of_votes }} Downvotes </i>
            {% endif %}
        <i class="fa fa-arrow-down post" data-postid = {{ post.id }}></i>
    </div>
    


{% macro loop_replies(replies, comment, repparentid) %}
    {% for reply in replies %}
        <div class="card mb-12 col-md-auto col-lg-auto ">
            <div class="card-body">
                <h5 class="card-title">{{ reply.author.username }}</h5>
                <p class="card-text">{{ reply.reply }}</p>

                <div class="arrow-button nestreply">
                    <i class="fa fa-arrow-up nestreply" data-nestreply={{reply.id}} ></i>
                    {% if reply.number_of_votes >= 0 %}
                        <i class=""> {{ reply.number_of_votes }} Upvotes </i>
                    {% elif reply.number_of_votes < 0 %}
                        <i class=""> {{ reply.number_of_votes }} Downvotes </i>
                    {% endif %}
                        <i class="fa fa-arrow-down nestreply" data-nestreply={{reply.id}}></i>
                </div>

                {% if reply.replies %}
                    {{ loop_replies(reply.replies, comment, reply.id) }}
                {% endif %} 
            </div>
        </div>

    
    {% endfor %} 

    

    <button type="button" id="replyNest-button" class="btn btn-primary nestreply">Add Reply</button>
        <div class="NestrepDiv" style="display: none;">
            <form method="POST" action="/comment/{{ comment.id }}/add_reply">
                <textarea id="Nestreply-text" name="reply" rows="5"></textarea>
                
                <textarea name="reply_parent_id" style="display: none;" rows="5">{{ repparentid }}</textarea>
           
                <button type="submit">Submit Reply</button>
            </form>
        </div>

        
{% endmacro %}

<div class="card-columns" style="column-count: 1;">
    {% for comment in post.Comment %}
        <div class="card mb-12 col-md-auto col-lg-auto ">
            <div class="card-body">
                <h5 class="card-title">{{ comment.author.username }}</h5>
                <p class="card-text">{{ comment.comment }}</p>
                {% for reply in comment.Reply %}
                    <div class="card mb-12 col-md-auto col-lg-auto ">
                        <div class="card-body">
                            <h5 class="card-title">{{ reply.author.username }}</h5>
                            <p class="card-text">{{ reply.reply }}</p>

                            <div class="arrow-button reply">
                                <i class="fa fa-arrow-up reply" data-replyid = {{ reply.id }}></i>
                                {% if reply.number_of_votes >= 0 %}
                                    <i class=""> {{ reply.number_of_votes }} Upvotes </i>
                                {% elif reply.number_of_votes < 0 %}
                                    <i class=""> {{ reply.number_of_votes }} Downvotes </i>
                                {% endif %}
                                <i class="fa fa-arrow-down reply" data-replyid = {{ reply.id }}></i>
                            </div>

                            {% if reply.replies %}
                                {{ loop_replies(reply.replies, comment, reply.id) }}
                            {% endif %}
                        </div>
                    </div>

                {% endfor %} 
                    <div class="arrow-button comment">
                        <i class="fa fa-arrow-up comment" data-commentid = {{ comment.id }}></i>
                            {% if comment.number_of_votes >= 0 %}
                                <i class=""> {{ comment.number_of_votes }} Upvotes </i>
                            {% elif comment.number_of_votes < 0 %}
                                <i class=""> {{ comment.number_of_votes }} Downvotes </i>
                            {% endif %}
                        <i class="fa fa-arrow-down comment" data-commentid = {{ comment.id }}></i>
                    </div>

                <button type="button" id="" class="btn btn-primary reply">Add Reply</button>
                <div class="repDiv" id="" style="display: none;">
                    <form method="POST" action="/comment/{{ comment.id }}/add_reply">
                        <textarea id="reply-text" name="reply" rows="5"></textarea>
                        
                        <input type="text" name="reply_parent_id" value="" style="display: none;"> 
                        <button type="submit">Submit Reply</button>
                    </form>
                
                </div>
            </div>
        </div>
    {% endfor %}     
                <button type="button" id="comment-button" class="btn btn-primary">Add Comment</button>
                    <div id="comDiv" style="display: none;">
                        <form method="POST" action="/post/{{ post.id }}/add_comment">
                            <textarea id="comment-text"  name="comment" rows="5"></textarea>
                    
                            <button type="submit">Submit Comment</button>
                    </form>
                </div>
     </div>
</div>

</div>

{% endblock %}

